@font-face {
    font-family: 'neo-sans';
    src: url('fonts/NeoSans Medium Italic.otf') format('opentype');
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#map {
    height: 100%;
    width: 100%;
}

#copy-button {
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 5;
	background-color: #6CB928;
	border: 1px solid #ccc;
	padding: 10px;
	cursor: pointer;
	color: white;
	border-radius: 3.75rem;
	font-style: italic;
	padding: 0 1.5rem;
	height: calc(0.75rem*2 + 0.875rem);
	font-family: "neo-sans",sans-serif;
}
